Package
------------------------
asttokens
backcall
bleach
blis
boto3
botocore
catalogue
certifi
charset-normalizer
click
cloudpickle
confection
cramjam
cycler
cymem
dask
debugpy
decorator
dill
entrypoints
executing
fastparquet
filelock
fonttools
fsspec
grad-cam
huggingface-hub
idna
imageio
importlib-metadata
ipykernel
ipython
ipywidgets
jedi
Jinja2
jmespath
joblib
jupyter-client
jupyter-core
jupyterlab-widgets
kiwisolver
langcodes
locket
MarkupSafe
matplotlib
matplotlib-inline
murmurhash
nest-asyncio
networkx
nltk
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
opencv-python
packaging
pandarallel
pandas
parallel-pandas
parso
partd
pathy
pexpect
pickleshare
Pillow
pip
portalocker
preshed
prompt-toolkit
psutil
pt-core-news-sm
ptyprocess
pure-eval
pyarrow
pydantic
Pygments
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
regex
requests
s3transfer
sacremoses
scikit-image
scikit-learn
scipy
sentence-transformers
sentencepiece
setuptools
six
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
swifter
thinc
threadpoolctl
tifffile
tokenizers
toolz
torch
torchdata
torchsummary
torchtest
torchtext
torchvision
tornado
tqdm
traitlets
transformers
ttach
typer
typing-extensions
urllib3
wasabi
wcwidth
webencodings
wheel
widgetsnbextension
yacs
zipp
